@charset "UTF-8";
/**
 * From https://gist.github.com/jamesmusgrave/d23b9d2f42ffdddd40c5
 */
.base--input, .base--color-input, .base--date-input, .base--datetime-local-input, .base--email-input, .base--file-input, .base--hidden-input, .base--month-input, .base--number-input, .base--password-input, .base--range-input, .base--search-input, .base--tel-input, .base--text-input, .base--time-input, .base--url-input, .base--week-input, .base--select, .base--textarea {
  font-family: "Helvetica Neue", Helvetica, "Open Sans", Arial, "Lucida Grande", "Roboto", sans-serif; }

.base--code, .base--pre, .base--pre code, .base--pre .base--code {
  font-family: source-code-pro, Menlo, Consolas, monospace; }

article::before,
.base--article::before, header::before,
.base--header::before, footer::before,
.base--footer::before, div::before,
.base--div::before, article::after,
.base--article::after, header::after,
.base--header::after, footer::after,
.base--footer::after, div::after,
.base--div::after {
  content: '';
  display: table;
  clear: both; }

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
main,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

a:active,
a:hover {
  outline: 0; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ul {
  list-style: none; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

code,
kbd,
pre,
samp {
  font-size: 1em;
  font-family: monospace, sans-serif; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  margin: 1em 0;
  padding: 0; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button,
input[type="button"] {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="file"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

input,
select {
  vertical-align: middle; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

embed,
img,
object,
video {
  max-width: 100%;
  height: auto; }

body {
  margin: 0rem;
  background: #fff;
  color: #323232;
  font-family: "Helvetica Neue", Helvetica, "Open Sans", Arial, "Lucida Grande", "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5; }
  body * + * {
    margin-top: 1rem; }

.base--h1 {
  font-size: 3.5em;
  font-weight: 200; }

.base--h2 {
  font-size: 2.25em;
  font-weight: 200; }

.base--h3 {
  font-size: 1.5em;
  font-weight: 200; }

.base--h4 {
  font-size: 1.25em;
  font-weight: 200; }

.base--h5 {
  font-size: 1em;
  font-weight: 400; }

.base--h6 {
  font-size: 0.8em;
  font-weight: 400; }

.base--a {
  color: #121212;
  border-bottom: 2px solid #121212;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .base--a:visited {
    color: #121212;
    border-bottom: 2px solid #121212; }
  .base--a:hover, .base--a:focus {
    color: #9855d4;
    border-bottom: 2px solid #9855d4; }

.base--em {
  font-style: italic; }

.base--strong {
  font-weight: 700; }

.base--p {
  font-size: 1em;
  font-weight: 400;
  color: #121212; }

.base--p_light {
  color: #777677; }

.base--p_inline {
  display: inline; }

.base--code {
  padding: .2em .5em;
  font-size: .8em;
  color: #008571;
  outline: 1px solid rgba(199, 199, 199, 0.25); }

.base--pre, .base--pre code, .base--pre .base--code {
  display: block;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  word-spacing: normal;
  text-align: left;
  word-break: normal;
  white-space: pre;
  word-wrap: normal;
  direction: ltr;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  overflow-y: overlay; }

.base--pre {
  margin: .5em 0;
  overflow: auto;
  margin-top: 0rem;
  white-space: normal;
  border-left: 4px solid #9855d4;
  padding: 1rem;
  background-color: #f9f9f9; }
  .base--pre code, .base--pre .base--code {
    font-size: 1em;
    outline: 0;
    margin: 0rem;
    padding: 0rem; }

.base--ul, .base--ol {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  width: 100%; }
  .base--ul li, .base--ol li, .base--ul .base--li, .base--ol .base--li {
    margin-top: 0rem; }
    .base--ul li::before, .base--ol li::before, .base--ul .base--li::before, .base--ol .base--li::before {
      padding-right: 0.4em;
      text-align: right; }

.base--ul li::before, .base--ul .base--li::before {
  content: "•"; }

.base--ul_inline .base--li {
  display: inline-block;
  margin-top: 0rem;
  margin-right: 1rem; }
  .base--ul_inline .base--li::before {
    display: inline-block; }

.base--ul_no-bullets .base--li::before {
  display: none; }

.base--ol li::before, .base--ol .base--li::before {
  content: counter(table-ol) "."; }

.base--blockquote {
  padding: 0em 1.5em;
  margin-right: 1em;
  margin-left: 1em;
  font-style: italic;
  color: #464646;
  border-left: 0.25em solid; }

.base--input, .base--color-input, .base--date-input, .base--datetime-local-input, .base--email-input, .base--file-input, .base--hidden-input, .base--month-input, .base--number-input, .base--password-input, .base--range-input, .base--search-input, .base--tel-input, .base--text-input, .base--time-input, .base--url-input, .base--week-input, .base--select {
  width: 100%;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 300;
  border: 2px solid #464646;
  background-color: #fff;
  line-height: normal;
  display: block; }
  .base--input:focus, .base--color-input:focus, .base--date-input:focus, .base--datetime-local-input:focus, .base--email-input:focus, .base--file-input:focus, .base--hidden-input:focus, .base--month-input:focus, .base--number-input:focus, .base--password-input:focus, .base--range-input:focus, .base--search-input:focus, .base--tel-input:focus, .base--text-input:focus, .base--time-input:focus, .base--url-input:focus, .base--week-input:focus, .base--select:focus {
    outline: 3px solid #9855d4;
    border-color: #9855d4; }
  .base--input:disabled, .base--color-input:disabled, .base--date-input:disabled, .base--datetime-local-input:disabled, .base--email-input:disabled, .base--file-input:disabled, .base--hidden-input:disabled, .base--month-input:disabled, .base--number-input:disabled, .base--password-input:disabled, .base--range-input:disabled, .base--search-input:disabled, .base--tel-input:disabled, .base--text-input:disabled, .base--time-input:disabled, .base--url-input:disabled, .base--week-input:disabled, .base--select:disabled {
    background-color: #e0e0e0; }

.base--block-label {
  display: block;
  margin: 1.25em 0 .25em; }

.base--inline-label {
  display: inline; }

.base--radio {
  display: none; }
  .base--radio + label {
    position: relative; }
    .base--radio + label::before {
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-right: 1rem;
      vertical-align: middle;
      border: 2px solid #aeaeae;
      border-radius: 50%;
      content: '';
      -webkit-transform: translateY(-0.125em);
              transform: translateY(-0.125em); }
  .base--radio:checked + label::before {
    background: -webkit-radial-gradient(#323232 40%, transparent 40%);
    background: radial-gradient(#323232 40%, transparent 40%); }

.base--color-input {
  height: 3em;
  padding: .25em;
  background: #fff; }

input[type="date"]::-webkit-inner-spin-button,
input[type="datetime"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="week"]::-webkit-inner-spin-button {
  height: 0rem; }

.base--range-input {
  height: 0.5em;
  padding: 0;
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: inset 0 0 0 0.125em #464646; }
  .base--range-input:focus {
    outline: 0;
    box-shadow: inset 0 0 0 0.125em #9855d4; }
  .base--range-input:disabled {
    opacity: .5; }
  .base--range-input::-moz-range-track {
    height: 0.5em;
    padding: 0;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: inset 0 0 0 0.125em #464646; }
  .base--range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.5em;
    height: 1.5em;
    background: #fff;
    border-radius: 1.5em;
    box-shadow: inset 0 0 0 0.1875em #464646;
    -webkit-transition-duration: .5s;
            transition-duration: .5s; }
  .base--range-input:active::-webkit-slider-thumb {
    box-shadow: inset 0 0 0 1.25em #464646;
    width: 1.875em;
    height: 1.875em; }
  .base--range-input::-moz-range-thumb {
    -moz-appearance: none;
    width: 1.5em;
    height: 1.5em;
    background: #fff;
    border-radius: 1.5em;
    box-shadow: inset 0 0 0 0.1875em #464646;
    transition-duration: .5s; }
  .base--range-input:active::-moz-range-thumb {
    box-shadow: inset 0 0 0 1.25em #464646;
    width: 1.875em;
    height: 1.875em; }

.base--textarea {
  width: 100%;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 300;
  border: 2px solid #464646;
  background-color: #fff; }
  .base--textarea:focus {
    outline: 3px solid #9855d4;
    border-color: #9855d4; }
  .base--textarea:disabled {
    background-color: #c7c7c7; }

.base--checkbox {
  display: none; }
  .base--checkbox + label {
    position: relative; }
    .base--checkbox + label::before {
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-right: 1rem;
      vertical-align: middle;
      border: 2px solid #aeaeae;
      content: '';
      -webkit-transform: translateY(-0.125em);
              transform: translateY(-0.125em); }
  .base--checkbox:checked + label::before {
    background: #323232;
    box-shadow: inset 0 0 0 1.33333px #fff; }

.base--select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%20viewbox%3D%220%200%2012%2012%20true%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23464646%22%20points%3D%220%2C0%205%2E85%2C12%2012%2C0%20%22%2F%3E%3C%2Fsvg%3E");
  background-size: 1em 1em;
  background-repeat: no-repeat;
  background-position: calc(100% - .3em) 1em; }

.firefox .base--select {
  background-image: none;
  background-size: 0rem; }

.ie .base--select {
  background-image: none;
  background-size: 0rem; }

.base--button {
  padding: 0.25em 2em;
  color: #9855d4;
  font-weight: 500;
  background-color: transparent;
  border: 2px solid #9855d4;
  border-radius: 10rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  .base--button:hover, .base--button:focus {
    background-color: rgba(38, 38, 38, 0);
    border-color: #bd92e3;
    color: #bd92e3; }
  .base--button:active {
    -webkit-transition: 0s;
    transition: 0s;
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }

.base--button_submit {
  padding: 0.25em 2em;
  color: #9855d4;
  font-weight: 500;
  background-color: transparent;
  border: 2px solid #9855d4;
  border-radius: 10rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  .base--button_submit:hover, .base--button_submit:focus {
    background-color: rgba(38, 38, 38, 0);
    border-color: #bd92e3;
    color: #bd92e3; }
  .base--button_submit:active {
    -webkit-transition: 0s;
    transition: 0s;
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }

.base--button_reset {
  padding: 0.25em 2em;
  color: #9855d4;
  font-weight: 500;
  background-color: transparent;
  border: 2px solid #9855d4;
  border-radius: 10rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  .base--button_reset:hover, .base--button_reset:focus {
    background-color: rgba(38, 38, 38, 0);
    border-color: #bd92e3;
    color: #bd92e3; }
  .base--button_reset:active {
    -webkit-transition: 0s;
    transition: 0s;
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }

.base--button_black {
  padding: 0.25em 2em;
  color: #121212;
  font-weight: 500;
  background-color: transparent;
  border: 2px solid #121212;
  border-radius: 10rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  .base--button_black:hover, .base--button_black:focus {
    background-color: rgba(38, 38, 38, 0);
    border-color: #383838;
    color: #383838; }
  .base--button_black:active {
    -webkit-transition: 0s;
    transition: 0s;
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }

.base--button_teal {
  padding: 0.25em 2em;
  color: #008571;
  font-weight: 500;
  background-color: transparent;
  border: 2px solid #008571;
  border-radius: 10rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  .base--button_teal:hover, .base--button_teal:focus {
    background-color: rgba(38, 38, 38, 0);
    border-color: #00d2b2;
    color: #00d2b2; }
  .base--button_teal:active {
    -webkit-transition: 0s;
    transition: 0s;
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }

.base--button_icon-hyperlink {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  padding: 0rem;
  margin: 0rem;
  text-decoration: none;
  color: #121212; }
  .base--button_icon-hyperlink:hover, .base--button_icon-hyperlink:focus {
    background-color: transparent;
    border-color: transparent;
    color: #121212; }
  .base--button_icon-hyperlink:active {
    -webkit-transition: 0s;
    transition: 0s;
    -webkit-transform: none;
            transform: none; }
  .base--button_icon-hyperlink--icon {
    margin-right: 0.2em; }
    .base--button_icon-hyperlink--icon.icon-reset {
      font-size: 1.5em; }
  .base--button_icon-hyperlink--link {
    color: #121212;
    border-bottom: 2px solid #121212;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    padding-bottom: 0.1em; }
    .base--button_icon-hyperlink--link:visited {
      color: #121212;
      border-bottom: 2px solid #121212; }
    .base--button_icon-hyperlink--link:hover, .base--button_icon-hyperlink--link:focus {
      color: #9855d4;
      border-bottom: 2px solid #9855d4; }

.base--table {
  width: 100%;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  font-weight: 300;
  color: #777677; }

.base--thead {
  font-weight: 500;
  border-bottom: 2px solid #e0e0e0;
  text-transform: uppercase; }

.base--td {
  padding: 1em; }

.base--tr {
  background-color: transparent;
  border-top: 1px solid #e0e0e0; }

.base--hr {
  border-top: 2px solid #c7c7c7;
  margin: auto;
  margin-left: 0rem; }

.base--hr_small {
  width: 23.40426%;
  float: left;
  display: block;
  float: none;
  clear: both;
  display: block;
  margin-top: 3rem;
  margin-bottom: 3rem; }

@font-face {
  font-family: "icons";
  src: url("../fonts/icon-fonts/icons.eot");
  src: url("../fonts/icon-fonts/icons.eot?#iefix") format("eot"), url("../fonts/icon-fonts/icons.woff2") format("woff2"), url("../fonts/icon-fonts/icons.woff") format("woff"), url("../fonts/icon-fonts/icons.ttf") format("truetype"), url("../fonts/icon-fonts/icons.svg#icons") format("svg"); }

.icon:before {
  font-family: "icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none; }

.icon-link:before {
  content: "\E001"; }

.icon-reset:before {
  content: "\E002"; }

.icon {
  vertical-align: middle;
  font-size: 1em;
  color: inherit; }

.panel {
  background-color: #e0e0e0;
  border: 2px solid #c7c7c7;
  padding: 0 1rem 1rem; }

.tab-panels {
  padding: 0rem;
  background-color: #f4f4f4;
  border: 1px solid #777677; }
  .tab-panels--tab-list {
    border-bottom: 1px solid #e0e0e0; }
  .tab-panels--tab-list-item {
    display: inline-block;
    margin-top: 0rem; }
  .tab-panels--tab {
    display: block;
    text-decoration: none;
    padding: 0.66667rem 1.33333rem;
    border-bottom: 6px solid transparent; }
    .tab-panels--tab.base--a {
      border-bottom: 6px solid transparent;
      color: #121212; }
    .tab-panels--tab:focus, .tab-panels--tab:hover {
      border-bottom: 6px solid #777677; }
    .tab-panels--tab.active {
      border-bottom: 6px solid #777677; }
  .tab-panels--tab-content {
    margin-top: 0rem;
    padding: 2rem;
    background-color: #fff; }
  .tab-panels--tab-pane {
    display: none;
    margin-top: 0; }
    .tab-panels--tab-pane.active {
      display: block; }

.clickable-tab {
  background-color: #f4f4f4;
  display: inline-block;
  padding: 0.8em 2em;
  font-size: 1em;
  border-left: 6px solid #734098;
  margin-top: 0rem;
  cursor: pointer; }
  .base--radio + .clickable-tab {
    border-left-color: transparent; }
  .base--radio:checked + .clickable-tab {
    border-left-color: #734098; }
  .base--radio + .clickable-tab::before {
    display: none; }

.metatag {
  padding: 0.25em 2em;
  color: #9855d4;
  font-weight: 500;
  background-color: #734098;
  border: 2px solid #734098;
  border-radius: 10rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  color: #fff;
  padding: 0.2em 1.75em;
  font-weight: 300;
  font-size: 0.9em; }
  .metatag:hover, .metatag:focus {
    background-color: #9966bf;
    border-color: #9966bf;
    color: #bd92e3; }
  .metatag:active {
    -webkit-transition: 0s;
    transition: 0s;
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }
  .metatag:hover, .metatag:focus {
    background-color: #734098;
    border-color: #734098;
    color: #fff; }
  .metatag:active {
    -webkit-transition: 0s;
    transition: 0s;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }

.loader-container {
  display: inline-block;
  width: 5.625rem;
  height: 5.625rem; }
  .loader-container_small {
    width: 2.8125rem;
    height: 2.8125rem; }

.loader {
  height: 100%;
  width: 100%;
  -webkit-transform: translateZ(0) rotate(300deg);
          transform: translateZ(0) rotate(300deg);
  -webkit-transform-origin: 25px 25px;
          transform-origin: 25px 25px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: b 4s ease-out infinite;
          animation: b 4s ease-out infinite; }
  .loader--path {
    stroke-dasharray: 125px;
    stroke-dashoffset: 9.7px;
    r: 20px;
    cx: 50px;
    cy: 50px;
    fill: transparent;
    stroke: #9855d4;
    stroke-width: 4.65116px;
    stroke-linecap: butt;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.5, 0.08, 0, 1);
    transition: stroke-dashoffset 1s cubic-bezier(0.5, 0.08, 0, 1);
    -webkit-animation: a 4s ease-out infinite;
    animation: a 4s ease-out infinite; }

@-webkit-keyframes a {
  0% {
    stroke-dashoffset: 9.7px; }
  60% {
    stroke-dashoffset: 113.52px; }
  to {
    stroke-dashoffset: 9.7px; } }

@keyframes a {
  0% {
    stroke-dashoffset: 9.7px; }
  60% {
    stroke-dashoffset: 113.52px; }
  to {
    stroke-dashoffset: 9.7px; } }

@-webkit-keyframes b {
  0% {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg); }
  60% {
    -webkit-transform: rotate(1320deg);
    transform: rotate(1320deg); }
  to {
    -webkit-transform: rotate(2100deg);
    transform: rotate(2100deg); } }

@keyframes b {
  0% {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg); }
  60% {
    -webkit-transform: rotate(1320deg);
    transform: rotate(1320deg); }
  to {
    -webkit-transform: rotate(2100deg);
    transform: rotate(2100deg); } }

._container {
  width: 100%;
  margin: auto;
  padding: 0rem 1rem; }
  @media (min-width: 768px) {
    ._container {
      max-width: 768px; } }
  ._container_xx-small {
    max-width: 320px; }
  ._container_x-small {
    max-width: 360px; }
  ._container_small {
    max-width: 640px; }
  ._container_medium {
    max-width: 768px; }
  ._container_large {
    max-width: 1024px; }
  ._container_x-large {
    max-width: 1200px; }
  ._container_xx-large {
    max-width: 1280px; }

/* http://prismjs.com/download.html?themes=prism&languages=markup+clike+javascript+jsx */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
pre[class*="language-"] ::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"] ::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"] ::selection,
pre[class*="language-"] ::selection,
code[class*="language-"] ::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #959595; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: 0.7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.function {
  color: #dd4a68; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

/* Custom prism rules for the Relay docs */
.prism + .prism {
  margin-top: -15px; }

/* Line highlighting */
.prism {
  position: relative; }

.line-highlight {
  background: rgba(75, 145, 80, 0.15);
  left: 0;
  line-height: inherit;
  margin-top: 5px;
  pointer-events: none;
  position: absolute;
  right: 0; }

.base--h1 {
  font-weight: 200;
  font-size: 3.5em;
  color: #562f72; }

.base--h2 {
  font-weight: 200;
  color: #562f72; }

.base--h3 {
  font-weight: 300;
  color: #9855d4; }

.base--h4 {
  font-weight: 700;
  color: #121212;
  text-transform: uppercase; }

.base--p {
  font-weight: 400;
  color: #121212; }

.base--input, .base--select {
  max-width: 30rem; }

.base--select {
  display: block;
  border-color: #464646; }

@font-face {
  font-family: "icons";
  src: url("../../fonts/icon-fonts/icons.eot");
  src: url("../../fonts/icon-fonts/icons.eot?#iefix") format("eot"), url("../../fonts/icon-fonts/icons.woff") format("woff"), url("../../fonts/icon-fonts/icons.ttf") format("truetype"), url("../../fonts/icon-fonts/icons.svg#icons") format("svg"); }

.icon:before {
  font-family: "icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none; }

.icon-link:before {
  content: "\E001"; }

.icon-reset:before {
  content: "\E002"; }

.icon {
  vertical-align: middle;
  font-size: 1em;
  color: inherit; }
  .icon:before {
    vertical-align: middle; }

.row {
  display: block; }

.description {
  color: #121212; }
  @media (min-width: 640px) {
    .description {
      width: 65.95745%;
      margin-right: 2.12766%;
      float: left;
      display: block;
      float: none;
      clear: both;
      display: block; } }

@media (min-width: 1140px) {
  /* line 85, /home/vcap/app/public-site-src/documents/css/_common.scss */
  .wrapper {
    max-width: 1400px;
    margin: 0 auto; } }

/* line 3, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.drawer {
  display: none;
  box-shadow: none;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.5, 0.8, 0, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.5, 0.8, 0, 1);
  transition: transform 0.3s cubic-bezier(0.5, 0.8, 0, 1);
  transition: transform 0.3s cubic-bezier(0.5, 0.8, 0, 1), -webkit-transform 0.3s cubic-bezier(0.5, 0.8, 0, 1);
  height: 100%;
  width: 400px;
  z-index: 99999; }

@media screen and (max-width: 45em) {
  /* line 3, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
  .drawer {
    width: 100%; } }

/* line 19, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.drawer:active, .drawer:focus {
  outline: none;
  -webkit-transition: box-shadow 800ms cubic-bezier(0, 0, 0, 0.5) 300ms, -webkit-transform 0.3s cubic-bezier(0.5, 0.8, 0, 1);
  transition: box-shadow 800ms cubic-bezier(0, 0, 0, 0.5) 300ms, -webkit-transform 0.3s cubic-bezier(0.5, 0.8, 0, 1);
  transition: transform 0.3s cubic-bezier(0.5, 0.8, 0, 1), box-shadow 800ms cubic-bezier(0, 0, 0, 0.5) 300ms;
  transition: transform 0.3s cubic-bezier(0.5, 0.8, 0, 1), box-shadow 800ms cubic-bezier(0, 0, 0, 0.5) 300ms, -webkit-transform 0.3s cubic-bezier(0.5, 0.8, 0, 1); }

/* line 24, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.drawer a {
  color: #fdfdfd;
  text-decoration: none;
  border-bottom: 0 none;
  text-transform: uppercase;
  font-weight: 700; }

/* line 30, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.drawer a:hover {
  color: #d7aaff; }

/* line 34, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.drawer .nav-title {
  font-weight: 200;
  font-size: 1.5em;
  color: #d7aaff;
  margin-top: 1em;
  margin-bottom: 1em;
  display: block; }

/* line 43, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.mobile-main-nav {
  padding: 1.5em; }

/* line 45, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.mobile-main-nav > li {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #5a5a5a; }

/* line 52, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.services-mobile-nav a {
  color: #fdfdfd;
  font-weight: 400;
  text-transform: none; }

/* line 56, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.services-mobile-nav a:hover {
  color: #d7aaff; }

/* line 61, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.drawer-container {
  position: absolute;
  width: 400px;
  z-index: 9999;
  background-color: #323232; }

@media screen and (max-width: 45em) {
  /* line 61, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
  .drawer-container {
    width: 100%; } }

/* line 71, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.close {
  position: relative;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  display: none; }

/* line 77, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.open {
  position: absolute;
  display: block;
  -webkit-transform: translateX(0%);
          transform: translateX(0%); }

/* line 84, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.open .activity-list li {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0); }

/* line 90, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.open .drawer-nav img {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0); }

/* line 96, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.drawer-title {
  height: 72px;
  line-height: 72px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/* line 101, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.drawer-title h3 {
  color: #fdfdfd;
  padding-left: 1.5em;
  font-size: 1em;
  font-weight: 400;
  line-height: 72px;
  margin: 0; }

/* line 109, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.drawer-title .close-drawer {
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 60px;
  border-bottom: 0 none; }

/* line 116, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.drawer-title .close-drawer img {
  width: 15px; }

/* line 123, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.tab img {
  -webkit-transition-delay: .5s;
          transition-delay: .5s; }

@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in-out {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes close_bottom_bar {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  50% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes close_bottom_bar {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  50% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@-webkit-keyframes close_top_bar {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes close_top_bar {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@-webkit-keyframes active_bottom_bar {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translateY(-6px) translateX(0);
            transform: translateY(-6px) translateX(0); }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); } }

@keyframes active_bottom_bar {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translateY(-6px) translateX(0);
            transform: translateY(-6px) translateX(0); }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); } }

@-webkit-keyframes active_top_bar {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translateY(6px) translateX(0);
            transform: translateY(6px) translateX(0); }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); } }

@keyframes active_top_bar {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translateY(6px) translateX(0);
            transform: translateY(6px) translateX(0); }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); } }

/* line 201, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.nav-drawer-toggler.active .svg-menu-toggle .bar:nth-of-type(1) {
  -webkit-animation: active_top_bar;
          animation: active_top_bar;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

/* line 207, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.nav-drawer-toggler.active .svg-menu-toggle .bar:nth-of-type(2) {
  opacity: 0; }

/* line 211, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.nav-drawer-toggler.active .svg-menu-toggle .bar:nth-of-type(3) {
  -webkit-animation: active_bottom_bar;
          animation: active_bottom_bar;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

/* line 219, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.nav-drawer-toggler.close .svg-menu-toggle .bar:nth-of-type(1) {
  -webkit-animation: close_top_bar;
          animation: close_top_bar;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

/* line 225, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.nav-drawer-toggler.close .svg-menu-toggle .bar:nth-of-type(2) {
  opacity: 1; }

/* line 229, /home/vcap/app/public-site-src/documents/css/_sidenav.scss */
.nav-drawer-toggler.close .svg-menu-toggle .bar:nth-of-type(3) {
  -webkit-animation: close_bottom_bar;
          animation: close_bottom_bar;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

/* line 1, /home/vcap/app/public-site-src/documents/css/_header.scss */
header {
  padding: 1.5em;
  background-color: #323232; }

@media (min-width: 45em) {
  /* line 1, /home/vcap/app/public-site-src/documents/css/_header.scss */
  header {
    padding-right: 4em;
    padding-left: 4em; } }

@media (min-width: 1140px) {
  /* line 1, /home/vcap/app/public-site-src/documents/css/_header.scss */
  header {
    padding: 0 4em; } }

/* line 11, /home/vcap/app/public-site-src/documents/css/_header.scss */
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 16, /home/vcap/app/public-site-src/documents/css/_header.scss */
header h1.base--h1 {
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 0;
  margin-top: 0.25em; }

@media (min-width: 1140px) {
  /* line 16, /home/vcap/app/public-site-src/documents/css/_header.scss */
  header h1.base--h1 {
    margin-top: 0; } }

/* line 24, /home/vcap/app/public-site-src/documents/css/_header.scss */
header h1.base--h1 a {
  display: block;
  text-decoration: none;
  text-indent: -9999px;
  background: url("../images/wordmark-white.svg") no-repeat;
  background-size: 200px auto;
  min-width: 200px;
  border-bottom: 0 none; }

/* line 34, /home/vcap/app/public-site-src/documents/css/_header.scss */
header .main-nav {
  display: none; }

@media (min-width: 1140px) {
  /* line 34, /home/vcap/app/public-site-src/documents/css/_header.scss */
  header .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

/* line 39, /home/vcap/app/public-site-src/documents/css/_header.scss */
header .main-nav li a {
  text-decoration: none;
  color: #fdfdfd;
  border-bottom: 0 none; }

@media (min-width: 45em) {
  /* line 39, /home/vcap/app/public-site-src/documents/css/_header.scss */
  header .main-nav li a {
    padding: 1.5em 1.5em 1.5em 0;
    display: block; } }

/* line 48, /home/vcap/app/public-site-src/documents/css/_header.scss */
header .main-nav li:last-child a {
  padding-right: 0; }

/* line 51, /home/vcap/app/public-site-src/documents/css/_header.scss */
header .main-nav a:hover {
  color: #d7aaff; }

/* line 55, /home/vcap/app/public-site-src/documents/css/_header.scss */
header .main-nav li.has-dropdown a.active {
  padding-right: 0;
  margin-right: 1em; }

/* line 58, /home/vcap/app/public-site-src/documents/css/_header.scss */
header .main-nav li.has-dropdown a.active span.arrow-bg {
  display: block;
  background: url("../images/icons/arrow-down.svg") no-repeat 85% 50%;
  padding-right: 2em; }

/* line 63, /home/vcap/app/public-site-src/documents/css/_header.scss */
header .main-nav li.has-dropdown a.active:hover {
  cursor: default; }

/* line 70, /home/vcap/app/public-site-src/documents/css/_header.scss */
.mobile-nav {
  display: block;
  color: #fdfdfd;
  cursor: pointer; }

@media (min-width: 1140px) {
  /* line 70, /home/vcap/app/public-site-src/documents/css/_header.scss */
  .mobile-nav {
    display: none; } }

/* line 78, /home/vcap/app/public-site-src/documents/css/_header.scss */
.top-bar .top-bar-menu ul li:hover ul {
  opacity: 1;
  visibility: visible; }

/* line 82, /home/vcap/app/public-site-src/documents/css/_header.scss */
.tob-bar .top-bar-menu ul li:hover a.active {
  color: #d7aaff; }

@media (min-width: 1140px) {
  /* line 86, /home/vcap/app/public-site-src/documents/css/_header.scss */
  li.has-dropdown:hover a.active {
    color: #d7aaff; } }

/* line 90, /home/vcap/app/public-site-src/documents/css/_header.scss */
.full-dropdown-cont {
  opacity: 0;
  visibility: hidden; }

@media (min-width: 1140px) {
  /* line 90, /home/vcap/app/public-site-src/documents/css/_header.scss */
  .full-dropdown-cont {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    top: 72px;
    text-align: left;
    position: absolute;
    width: 100%;
    left: 0;
    width: 100%;
    background: #323232;
    padding: 1em 4em;
    z-index: 99;
    margin: 0; }
  /* line 106, /home/vcap/app/public-site-src/documents/css/_header.scss */
  .full-dropdown-cont .full-dropdown {
    max-width: 1400px;
    margin: 0 auto;
    display: block; }
  /* line 13, /home/vcap/app/public-site-src/files/bower_components/sass-toolkit/stylesheets/toolkit/_clearfix.scss */
  .full-dropdown-cont .full-dropdown:after {
    content: "";
    display: table;
    clear: both; }
  /* line 112, /home/vcap/app/public-site-src/documents/css/_header.scss */
  .full-dropdown-cont .nav-title {
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 1em;
    display: block;
    color: #d7aaff; }
  /* line 119, /home/vcap/app/public-site-src/documents/css/_header.scss */
  .full-dropdown-cont .no-title {
    margin-top: 46px; }
  /* line 122, /home/vcap/app/public-site-src/documents/css/_header.scss */
  .full-dropdown-cont .full-dropdown-cat {
    width: 20%;
    padding-right: 1.5%;
    float: left;
    margin-top: 0rem; }
  /* line 127, /home/vcap/app/public-site-src/documents/css/_header.scss */
  .full-dropdown-cont .full-dropdown-cat.language-category {
    width: 40%; }
  /* line 131, /home/vcap/app/public-site-src/documents/css/_header.scss */
  .full-dropdown-cont .language-category li {
    float: left;
    width: 50%;
    margin-right: 0px; }
  /* line 136, /home/vcap/app/public-site-src/documents/css/_header.scss */
  .full-dropdown-cont ul li a {
    color: #fff;
    padding: 0; }
  /* line 140, /home/vcap/app/public-site-src/documents/css/_header.scss */
  .full-dropdown-cont ul li a:hover {
    cursor: pointer;
    color: #d7aaff;
    background-color: transparent; }
  /* line 145, /home/vcap/app/public-site-src/documents/css/_header.scss */
  .full-dropdown-cont li {
    width: 100%;
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 1em;
    padding: 0; }
  /* line 152, /home/vcap/app/public-site-src/documents/css/_header.scss */
  .full-dropdown-cont li.all-services {
    max-width: 1400px;
    margin: 2em auto 1em;
    display: block; }
  /* line 157, /home/vcap/app/public-site-src/documents/css/_header.scss */
  .full-dropdown-cont li.all-services a {
    width: auto;
    display: block;
    font-size: 1rem;
    padding: 1em 0;
    color: #fff;
    line-height: 0.75em;
    border-top: 1px solid #777677;
    text-align: right; }
  /* line 166, /home/vcap/app/public-site-src/documents/css/_header.scss */
  .full-dropdown-cont li.all-services a:hover {
    color: #d7aaff; } }

/* line 173, /home/vcap/app/public-site-src/documents/css/_header.scss */
.has-dropdown a.active {
  padding-right: 0; }

/* line 175, /home/vcap/app/public-site-src/documents/css/_header.scss */
.has-dropdown a.active span.arrow-bg {
  display: block;
  background: url("../images/arrow-down.svg") no-repeat 85% 50%;
  padding-right: 2em; }

/* line 180, /home/vcap/app/public-site-src/documents/css/_header.scss */
.has-dropdown a.active:hover {
  background-color: #777677, 80;
  cursor: default; }

/* line 186, /home/vcap/app/public-site-src/documents/css/_header.scss */
.main-page-container {
  position: relative;
  z-index: 1; }

/* line 198, /home/vcap/app/public-site-src/documents/css/_header.scss */
.tocify-wrapper {
  padding-top: 4.5rem; }

/* line 201, /home/vcap/app/public-site-src/documents/css/_header.scss */
.page-wrapper .lang-selector {
  margin-top: 4.5rem; }

/* line 205, /home/vcap/app/public-site-src/documents/css/_header.scss */
.api-ref div[data-unique] {
  display: none; }

/* line 208, /home/vcap/app/public-site-src/documents/css/_header.scss */
.api-ref header {
  position: fixed; }

@media (min-width: 45em) {
  /* line 208, /home/vcap/app/public-site-src/documents/css/_header.scss */
  .api-ref header {
    padding: 1.5em 1.75em;
    width: calc(100% - 3.25em); } }

@media (min-width: 1140px) {
  /* line 208, /home/vcap/app/public-site-src/documents/css/_header.scss */
  .api-ref header {
    height: 72px;
    width: calc(100% - 8em); } }

/* line 219, /home/vcap/app/public-site-src/documents/css/_header.scss */
.api-ref .wrapper {
  height: 72px; }

@media (min-width: 1140px) {
  /* line 219, /home/vcap/app/public-site-src/documents/css/_header.scss */
  .api-ref .wrapper {
    height: 24px; } }

/* line 225, /home/vcap/app/public-site-src/documents/css/_header.scss */
.api-ref .full-dropdown-cont {
  width: calc(100% - 8em); }

/* line 228, /home/vcap/app/public-site-src/documents/css/_header.scss */
.api-ref .full-dropdown-cont .full-dropdown-cat.language-category {
  width: 37%; }

/* line 231, /home/vcap/app/public-site-src/documents/css/_header.scss */
.api-ref .full-dropdown-cont .full-dropdown-cat {
  width: 19%; }

header {
  margin-top: 0rem; }
  header h1.base--h1 a {
    color: white; }
  header .main-nav li {
    margin-top: 0rem; }
  header .top-bar {
    margin-top: 0rem; }
  @media (min-width: 45em) {
    header {
      padding: 1.5em; } }
  @media (min-width: 1024px) {
    header {
      padding: 1.5em; } }
  @media (min-width: 1140px) {
    header {
      padding: 0em 4em; } }

.drawer {
  margin-top: 0rem;
  position: fixed; }

.drawer-title .close-drawer {
  margin-top: 0rem; }

.top-bar--spacer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.mobile-nav {
  margin-top: 0rem; }

.header {
  margin-top: 0rem; }
  .header--icon {
    width: 8rem; }
    @media (min-width: 1024px) {
      .header--icon {
        min-width: 6rem;
        width: 80%; } }
  .header--icon-image {
    width: 100%; }
  .header--header {
    line-height: 1; }
  .header--nav-ul.base--ul_inline .header--nav-li {
    display: block;
    margin-bottom: 0.25rem; }
    @media (min-width: 560px) {
      .header--nav-ul.base--ul_inline .header--nav-li {
        margin-right: 1rem;
        margin-bottom: 0rem;
        display: inline-block; } }

.footer {
  background-color: #323232; }
  .footer .base--h2 {
    color: #d7aaff;
    font-weight: 300; }
  .footer .base--h3 {
    color: #fff; }
  .footer--icon {
    min-width: 6rem;
    width: 80%; }
  .footer--nav {
    margin-top: 2rem; }
  .footer--nav-ul.base--ul_inline .base--li {
    display: block;
    margin-bottom: 0.25rem; }
    @media (min-width: 560px) {
      .footer--nav-ul.base--ul_inline .base--li {
        margin-right: 1rem;
        margin-bottom: 0rem;
        display: inline-block; } }
  .footer--nav-link {
    color: #d7aaff;
    border-color: #d7aaff; }
    .footer--nav-link:visited {
      color: #d7aaff;
      border-color: #d7aaff; }
    .footer--nav-link:hover, .footer--nav-link:focus {
      color: #efddff;
      border-color: #efddff; }

.bottom-nav-bar {
  padding: 2rem 0rem; }
  .bottom-nav-bar ._full-width-row--aside {
    display: block; }
    @media (min-width: 560px) {
      .bottom-nav-bar ._full-width-row--aside {
        display: inline-block; } }
  .bottom-nav-bar ._full-width-row--main {
    display: block; }
    @media (min-width: 560px) {
      .bottom-nav-bar ._full-width-row--main {
        display: inline-block; } }
  .bottom-nav-bar--nav-ul.base--ul_inline .bottom-nav-bar--nav-li {
    display: block;
    margin-bottom: 0.25rem; }
    @media (min-width: 560px) {
      .bottom-nav-bar--nav-ul.base--ul_inline .bottom-nav-bar--nav-li {
        margin-right: 1rem;
        margin-bottom: 0rem;
        display: inline-block; } }

._full-width-row {
  padding: 4rem 0rem;
  margin-top: 0rem; }
  @media (min-width: 1024px) {
    ._full-width-row--aside {
      width: 14.89362%;
      margin-right: 2.12766%;
      float: left;
      display: block;
      min-height: 1rem; }
    ._full-width-row--main {
      width: 82.97872%;
      float: left;
      display: block;
      margin-top: 0rem;
      min-height: 1rem; } }
  ._full-width-row_gray {
    background-color: #f4f4f4; }

header h1.base--h1 a {
  text-indent: 0;
  background: none; }

.base--h1-icon {
  width: 2.5rem;
  vertical-align: middle;
  margin-right: 1em;
  margin-top: -0.6em; }

.base--a {
  color: inherit;
  border-bottom: none; }

.main-page {
  width: 40%;
  margin: 4em 30% 0;
  white-space: nowrap; }

.query-input {
  border: 0;
  border-bottom: 0.0625rem solid;
  max-width: 100%; }

.h2-margin {
  margin-top: 1em; }

.location {
  float: right;
  margin-right: 1em; }

.location-text {
  border-bottom: 0.0625rem solid; }

.chat-button {
  padding: .5em 7em; }

.center-me {
  text-align: center;
  margin: 6em 0; }

.footer-row {
  margin-top: 0; }

.conversationSection {
  padding: 0; }

@media (min-width: 1140px) {
  .base--ul, .base--ol {
    width: 100%;
    text-align: center; } }

.base--h2 {
  color: inherit; }

.base--input:focus {
  outline: none; }

.responsive-columns-wrapper {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-display: flex;
  -ms-flex-direction: row;
  height: 100%; }

.responsive-column {
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  overflow: auto;
  text-align: center; }

.chat-column {
  height: 100%;
  padding: 0 0 0.625rem 0;
  margin: auto;
  text-align: left;
  max-width: 40rem;
  min-width: 9.375rem; }

.scrollingChat {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 10rem);
  padding: 0.625rem; }

.message-inner {
  opacity: 0;
  margin-top: 0.9375rem;
  -webkit-transition-property: opacity, margin-top;
  -webkit-transition-duration: 0.75s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-property: opacity, margin-top;
  -moz-transition-duration: 0.75s;
  -moz-transition-timing-function: ease-in;
  -o-transition-property: opacity, margin-top;
  -o-transition-duration: 0.75s;
  -o-transition-timing-function: ease-in;
  -ms-transition-property: opacity, margin-top;
  -ms-transition-duration: 0.75s;
  -ms-transition-timing-function: ease-in;
  transition-property: opacity, margin-top;
  transition-duration: 0.75s;
  transition-timing-function: ease-in; }

.load .message-inner {
  opacity: 1;
  margin-top: 0.3125rem; }

.from-user {
  text-align: right; }

.from-user .message-inner {
  font-size: 1rem;
  color: #323232;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  background: #ECF0F2;
  border-radius: 0.55rem;
  text-align: left;
  display: inline-block;
  min-width: 6rem;
  max-width: 100%;
  word-wrap: break-word; }

.from-user .message-inner p {
  padding: 1.5rem; }

.from-user .message-inner:before, .from-user .message-inner:after {
  content: "";
  position: absolute; }

.from-user .message-inner:before {
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid #ECF0F2;
  margin: -0.9375rem 1.5rem 0 0;
  float: right;
  position: relative; }

.from-user .message-inner:after {
  z-index: -1;
  bottom: -0.5rem;
  right: 0;
  height: 0.5rem;
  width: 0.5rem;
  background: #fff;
  border-top-right-radius: 1.25rem; }

.from-watson .message-inner {
  font-size: 1rem;
  color: #323232;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  background: #F2EEEE;
  border-radius: 0.55rem;
  text-align: left;
  display: inline-block;
  min-width: 6rem;
  max-width: 100%;
  word-wrap: break-word; }

.from-watson.latest .message-inner {
  color: #323232; }

.from-watson .message-inner:before {
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid #F2EEEE;
  margin: -0.9375rem 0 0 1.5rem; }

.from-watson p {
  padding: 1.5rem; }

.from-watson.latest.top p:before {
  content: ".";
  color: #9855D4;
  background-size: 0.3125rem 1.3125rem;
  position: absolute;
  z-index: 2;
  width: 0.3125rem;
  height: 1.3125rem;
  line-height: 1.3125rem; }

.from-user .summary, .from-watson .summary {
  font-family: 'Inconsolata', monospace;
  font-size: 0.8125rem;
  color: #959595; }

.from-user .summary {
  margin: 0 2.1875rem 1.125rem 0;
  background: url("../images/dot-orange.svg") right no-repeat;
  padding-right: 1.5rem;
  background-size: 0.625rem; }

.from-watson .summary {
  margin: 0 0 1.125rem 2.1875rem;
  background: url("../images/dot-purple.svg") left no-repeat;
  padding-left: 1.5rem;
  background-size: 0.625rem; }

.highlights {
  text-align: left;
  font-size: 0.9375rem;
  margin-top: 1.5rem; }

.special {
  margin-top: 0.5rem; }

.hyperlink {
  color: inherit !important;
  border-bottom: 0.0625rem solid !important; }

.tech-highlights {
  margin-top: 0.5rem !important; }

::-webkit-input-placeholder {
  color: #5a5a5a; }

::-moz-placeholder {
  color: #5a5a5a;
  opacity: 1; }

input:-moz-placeholder {
  color: #5a5a5a;
  opacity: 1; }

:-ms-input-placeholder {
  color: #5a5a5a; }

::-ms-clear {
  display: none; }

input[type=text]:focus {
  border-color: inherit; }

.inputOutline {
  display: block;
  border-bottom: 0.0625rem solid #aeaeae;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.375rem; }

.textInputDummy {
  position: absolute;
  white-space: pre;
  top: 0;
  left: -1000%;
  opacity: 0; }

.fixed-column {
  font-family: Monaco, monospace;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 1.125rem;
  background-color: #855ca7;
  color: #fff;
  overflow-x: auto;
  margin-top: 0;
  width: 45%;
  max-width: 28rem;
  min-width: 27rem; }

.fixed-column.full {
  width: 100%;
  max-width: none;
  min-width: initial; }

.fixed-column .header-text, .fixed-column .payload-initial-message {
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.01875rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
  margin-top: 0; }

.icons {
  width: 0.9375rem;
  vertical-align: bottom;
  margin-right: 1.25rem; }

.hide {
  display: none; }

.payload .line-numbers, .payload .payload-text {
  padding: 0.5rem; }

.segments {
  margin-top: 1.5rem; }

.drawer-title .close-drawer {
  margin-top: 1.5625rem !important; }

.footer {
  padding: 0 0 0.625rem 0;
  margin-top: -4rem;
  background-color: inherit;
  width: 61%;
  font-size: 0.875rem; }

.channel-header {
  margin-bottom: 3.125rem; }

pre {
  margin: 0;
  word-wrap: normal; }

html {
  font-size: 1rem; }

@media only screen and (max-width: 1000px) {
  html {
    font-size: 0.9375rem; } }

@media only screen and (max-width: 1200px) {
  html {
    font-size: 0.875rem; }
  .chat-column {
    /*padding-top: 4rem;*/ }
  .responsive-column {
    width: 50%; }
  .fixed-column {
    position: absolute;
    top: 100%;
    width: 100%;
    max-width: 100%;
    left: 0; }
  .footer {
    position: absolute;
    bottom: -352px;
    width: 100%; }
  .payload-initial-message {
    padding: 3rem; } }
